body,html {
    margin: 0;
    padding: 0;
    height: 100%;

}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 3000px;
    min-width: 360px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    width: 100%;
    background-color: #ff69b4;
    flex-wrap: wrap;

    }
.header-inside {
    height: 30%;
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    flex: 2;
    background-color: lightgreen;
}
.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    background-color: yellow;
    flex-wrap: wrap;
}
.block {
    height: 100%;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.block-left {
    height: 50%;
    flex: 2;
    background-color: saddlebrown;
}
.block-right {
    height: 50%;
    flex: 5;
    background-color: darkorange;
}

.content {
    width: 100%;
    background-color: #ff69b4;
    min-width: 360px;
    flex: 0.8;
    display: flex;
    flex-wrap: wrap;
}
.distribution {
    display: flex;
    flex-direction: column;
    background-color: hotpink ;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-news {
    display: flex;
    justify-content: flex-end;
    background-color: yellow ;
    height: 15%;
}
.politic {
    background-color: lightgreen;
    height: 100%;
    width: 20%;
}
.content-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: yellow ;
    height: 15%;
}
.working {
    background-color: lightgreen;
    height: 50%;
    width: 50%;
}
.comments {
    display: flex;
    background-color: hotpink;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
}
.admins {
    background-color: lightgreen;
    height: 15%;
    flex: 2;
}
.user {
    background-color: yellow;
    height: 15%;
    flex: 4;
}
.moderators {
    background-color: lightgreen;
    height: 15%;
    flex: 2;
    display: flex;
    flex-direction: column-reverse;
}
.primary {
    background-color: darkorange;
    height: 30%;
}




.footer {
    width: 100%;
    background-color: #ff69b4;
    min-width: 360px;
    display: flex;
    flex: 0.1;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}
.info {
    background-color: yellow;
    width: 40%;
    flex: 2;
}
.phone {
    background-color: lightgreen;
    width: 40%;
    flex: 1;
}